
.jsmart-NavMenuBox{
  position: relative;
  overflow: hidden;position: relative; min-height: 300px;
  //flex: 1;
  .jsmart-NavMenuBox-in{ background-color: #fff; height: 100%;display: flex; flex-direction: column; border-radius: 4px; overflow: hidden}
  .jsmart-NavMenuTop{
    display: flex; align-items: center; border-bottom: #e1e1e1 1px solid; height: 60px; position: relative;flex: none;
    .jsmart-NavMenuTop-left{
      width: 100%; height: 60px;overflow: hidden; display: flex;position: relative;
      .jsmart-NavMenuTop-left-arrow{
        width: 50px; height: 60px; overflow: hidden;flex: none; display: flex; align-items: center;justify-content: center; cursor: pointer;
        i{font-size: 20px}
      }
      .jsmart-NavMenuTop-left-scroll{width: 100%; height: 90px; overflow-x: auto; overflow-y: hidden;
     }
      .jsmart-NavMenuTop-left-in{
        display: flex;
        white-space: nowrap
      }
    }
    .jsmart-NavMenuTop-right{
      display: flex; align-items: center; flex: none;justify-content: flex-end;
      //margin-right: 20px;padding: 0;
      .jsmart-preview{display: flex; align-items: center; justify-content: flex-end}
    }
    .jsmart-NavMenuTop-item{
      font-weight: 800;
      padding: 0px 20px;border-bottom:transparent 2px solid; height: 60px;cursor: pointer;display: inline-block; line-height: 60px;
      &.selected{}
    }
    &.isFlatMode{
      //height: 40px!important;
      .jsmart-NavMenuTop-left{
        height: 40px!important;
        .jsmart-NavMenuTop-left-scroll{
          height: 40px!important;
        }
        .jsmart-NavMenuTop-left-arrow{
          height: 40px!important;
        }
      }
      .jsmart-NavMenuTop-item{
        height: 40px!important;
        line-height: 40px!important;
      }
    }
  }
  .jsmart-NavMenuLeft{
    font-weight: 800;
    border-right: #e1e1e1 1px solid; position: relative;flex: none;
    .jsmart-NavMenuLeft-item{
      padding: 0px 20px; display: flex;align-items: center; cursor: pointer; height: 40px;
      &.selected{}
    }
    //左右布局左侧显示隐藏按钮
    .sh_btn_left {
      position: absolute;
      width: 20px;
      height: 50px;
      top: 50%;
      cursor: pointer;
      overflow: hidden;
      margin-top: -25px;
      z-index: 4;
      left:0;
      .sh_btn_bg_left {
        border-left: #D9DEE4 13px solid;
        border-bottom: 9px solid transparent;
        border-top: 9px solid transparent;
        height: 50px;
        transition-duration: 0.1s;
      }
      .sh_btn_icon_left {
        position: absolute;
        margin-top: -9px;
        right: 10px;
        top: 50%;
        transition-duration: 0.1s;
        i {
          color: #546478;
          font-size: 18px;
          display: inline-block
        }
      }
      &:hover {
        .sh_btn_icon_left {
          right: 4px
        }
        .sh_btn_bg_left {
          border-left: #D9DEE4 20px solid;
          border-bottom: 8px solid transparent;
          border-top: 8px solid transparent;
        }
      }
      &.opened {
        right: 0;
        left: unset;
        .sh_btn_icon_left {
          right: -8px;
          i {
            transform: rotate(180deg)
          }
        }
        .sh_btn_bg_left {
          border-right: #f7f7f7 13px solid;
          border-bottom: 9px solid transparent;
          border-top: 9px solid transparent;
          border-left: none;
        }
        &:hover {
          .sh_btn_icon_left {
            right: -1px
          }
          .sh_btn_bg_left {
            border-right: #f7f7f7 20px solid;
            border-bottom: 8px solid transparent;
            border-top: 8px solid transparent;
          }
        }
      }
    }
  }
  .closeState{
    width: 0 !important;
  }
  .closeContent{
    width: 0 !important;
    overflow: hidden !important;
    background-color: rgba(0,0,0,0) !important;
    font-size: 0;
  }
  .jsmart-NavMenuRight{
    width: 160px;
    max-height: 248px;
    font-weight: 400;
    color: #595959;
    line-height: 22px;
    font-size: 14px;
    overflow-y: hidden;
    border-radius: 2px 0px 0px 2px;
    position: fixed;
    flex: none;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.08);
    background: #FFFFFF;
    right: 0;
    top: 20%;
    padding: 10px 0;

    .jsmart-NavMenuRight-item{
      font-weight: 800;
      padding: 0px 20px; display: flex; align-items: center; cursor: pointer; height: 40px;
      &.selected{

      }
    }
    //左右布局左侧显示隐藏按钮
    .sh_btn_right {
      position: absolute;
      width: 20px;
      height: 50px;
      top: 50%;
      cursor: pointer;
      overflow: hidden;
      margin-top: -25px;
      z-index: 4;
      right: 0;
      .sh_btn_bg_right {
        border-right: #D9DEE4 13px solid;
        border-bottom: 9px solid transparent;
        border-top: 9px solid transparent;
        border-left: none;
        height: 50px;
        transition-duration: 0.1s;
      }
      .sh_btn_icon_right {
        right: -8px;
        position: absolute;
        margin-top: -9px;
        top: 50%;
        transition-duration: 0.1s;
        i {
          color: #546478;
          font-size: 18px;
          display: inline-block;
          transform: rotate(180deg);
        }
      }
      &:hover {
        .sh_btn_icon_right {
          right: -1px;
        }
        .sh_btn_bg_right {
          border-right: #D9DEE4 20px solid;
          border-bottom: 8px solid transparent;
          border-top: 8px solid transparent;
          border-left: none;
        }
      }
      &.opened {
        left:0;
        right: unset;
        .sh_btn_icon_right {
          left:-8px;
          i {
            transform: rotate(0deg);
          }
        }
        .sh_btn_bg_right {
          border-left: #f7f7f7 13px solid;
          border-bottom: 9px solid transparent;
          border-top: 9px solid transparent;
          border-right: none;
        }
        &:hover {
          .sh_btn_icon_right {
            left: -1px
          }
          .sh_btn_bg_right {
            border-left: #f7f7f7 20px solid;
            border-bottom: 8px solid transparent;
            border-top: 8px solid transparent;
            border-right: none;
          }
        }
      }
    }
  }
  .jsmart-NavMenuBody{
    background-color:#f5f5f5 ;
    height: 100%; overflow: auto;  position: relative; width: 100%;
    .jsmart-NavMenuBody-in{}
    .jsmart-NavMenuBody-item{

      .jsmart-NavMenuBody-item-in{
        background-color: #fff; border-radius: 4px;box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 6px; border: #eee 1px solid;
        .jsmart-NavMenuBody-item-in-top{
          flex: none;
        }
        .jsmart-NavMenuBody-item-in-body{
          display: flex; flex-wrap: wrap;flex: none;height: 100%;//高度100%不设置的话，有表格存在时滚动条会无限缩短
        }
        .jsmart-preview{display: flex; flex-wrap: wrap;height: 100% }
      }
    }
  }
}